<table>
  <tr>
    <th class="id">ID</th>
    <th>Bucket Name</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>1</td>
    <td class="bname">Maria Anders</td>
    <td><input type="checkbox"></td>
  </tr>
  <tr>
    <td>2</td>
    <td class="bname">Francisco Chang</td>
    <td><input type="checkbox"></td>
  </tr>
  <tr>
    <td>3</td>
    <td class="bname">Roland Mendel</td>
    <td><input type="checkbox"></td>
  </tr>
  <tr>
    <td>4</td>
    <td class="bname">Helen Bennett</td>
    <td><input type="checkbox"></td>
  </tr>
  <tr>
    <td>5</td>
    <td class="bname">Yoshi Tannamuri</td>
    <td><input type="checkbox"></td>
  </tr>
  <tr>
    <td>6</td>
    <td class="bname">Giovanni Rovelli</td>
    <td><input type="checkbox"></td>
  </tr>
</table>
<div class="container">
  <button type="button" class="btn btn-primary">Cancel</button>
  <button type="button" class="btn btn-primary">Add</button>
  </div>